body {
  background: url('http://domisoulmusic.com/images/steely_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 50px;
  letter-spacing: 1px;
  color: white;
  font-weight: 300;
  margin-top: 250px;
}

.band-info {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: grey;
  font-weight: 300;
}
